.navbar {
  width: 100%;
  background-color: #f4eae9;
  text-align: center;
}
.menu-container {
  align-items: center;
  padding: 10px;
}
.nav-links {
  list-style: none;
  align-items: center;
  margin-left: 30px;
}
.nav-links li {
  display: inline-block;
}
.nav-link {
  text-decoration: none;
  color: #464a4e;
  margin-right: 15px;
}
.nav-link:hover,
.nav-link:focus {
  color: #333;
  background-color: #dacccbc7;
}
.nav-links li {
  margin: 10px 0;
}
